@model Planet

<p>Name: @Model.name</p>
<p>Rotation: @Model.rotation_period</p>
<p>Orbital Period: @Model.orbital_period</p>
<p>Diameter: @Model.diameter</p>
<p>Climate: @Model.climate</p>
<p>Gravity: @Model.gravity</p>
<p>Terrain: @Model.terrain</p>
<p>Surface Water: @Model.surface_water</p>
<p>Population: @Model.population</p>