@model Person

<p>Name: @Model.name</p>
<p>Height: @Model.height</p>
<p>Mass: @Model.mass</p>
<p>Hair Color: @Model.hair_color</p>
<p>Skin Color: @Model.skin_color</p>
<p>Eye Color: @Model.eye_color</p>
<p>Birth Year: @Model.birth_year</p>
<p>Gender: @Model.gender</p>